doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Picklist
		link(rel="stylesheet", href="http://bootswatch.com/paper/bootstrap.min.css")
		link(rel="stylesheet", href="docs.css")
	body
		include ./nav
		include ./modules/GettingStarted
		include ./modules/Options
		include ./modules/Initialization
		include ./modules/Methods
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="node_modules/kula/dist/kula.min.js")
		script(src="node_modules/kuntree/dist/kuntree-full.js")
		script(src="dist/picklist.js")
		script(src="docs.js")