nav {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-x: none;
	overflow-y: auto;
	left: 0;
	width: 250px;
	box-shadow: 0 0 4px gray;
}
nav a {
	display: block;
	padding: 8px;
	text-align: left;
	font-size: 1.1em;
	text-decoration: none;
	background-color: inherit;
	transition: all 0.3s;
}
nav a:hover {
	text-decoration: none;
	background-color: #f4f4f4;
}
nav a.bg-primary:focus, nav a.bg-primary:hover {
	color: white;
}
nav a:hover, nav a:focus {
	text-decoration: none;
}
.container {
	float: right;
	width: calc(100% - 260px);
}
.purpleSwatch, #invertPurpleSwatch, #lightPurpleSwatch {
	display: inline-block;
	height: 20px;
	width: 20px;
	box-shadow: 0 0 3px;
}
.purpleSwatch {
	background-color: #AA00EE;
}
#invertPurpleSwatch {
	background-color: rgb(85,255,17);
}
#lightPurpleSwatch {
	background-color: #dd00ff;
}
#nav-shadow-top, #nav-shadow-bottom {
	position: fixed;
	left: 0;
	width: 250px;
	height: 10px;
	
}
#nav-shadow-top {
	background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
}
#nav-shadow-bottom {
	background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
}