#GettingStarted.container
	.row
		h2 Getting Started
	.row
		.col-lg-12
			h4 Installation
			pre.
				npm install picklist
			p From a command-line or terminal window, navigate to the project folder where you want to install Picklist and run the command above. Depending on your needs, you may want to use the #[code --save] or #[code --save-dev] flags for adding Picklist as a dependency to your projects.
		.col-lg-12
			h4 Dependencies
			.panel.panel-default
				.panel-body
					h5 #[a(href="http://jquery.com", target="_blank") jQuery]
					p While various versions of jQuery have been tested and seem to work without error with Picklist, any version of jQuery above v2.x.x will cause warnings to be thrown in the console by Bootstrap 3. So, it is recommended to use jQuery v.2.2.4.
					pre.
						npm install jquery@2.2.4
			.panel.panel-default
				.panel-body
					h5 #[a(href="http://getbootstrap.com", target="_blank") Bootstrap 3]
					p Depending on your needs, you may install the default Bootstrap 3 package with the command below or you may use any other packages that provide a valid version of Bootstrap 3. Note: No tests have been conducted with Bootstrap 4 so the plugin may not work as expected.
					pre.
						npm install bootstrap
			.panel.panel-default
				.panel-body
					h5 #[a(href="https://github.com/poodoopealeoaph/kula", target="_blank") Kula]
					p Picklist was developed with Kula v2.1.1 so this version or higher is recommended but, Kula v.2.0.0 should not cause significant issues if this version is required for your project. Note: Any versions of Kula below v2 have not been tested with Picklist and are highly likely to cause various errors.
					pre.
						npm install kula
		.col-lg-12
			h4 Reference in HTML
			p Note that #[strong #[u order matters here]]. If these scripts aren't loaded in the order shown below, it is highly likely that Picklist and possibly other parts of your site's UI will not work correctly.
			pre.
				&lt;body&gt;
				    &mldr;
				    &lt;script src="node_modules/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
				    &lt;script src="node_modules/bootstrap/dist/js/bootstrap.min.js"&gt;&lt;/script&gt;
				    &lt;script src="node_modules/kula/dist/kula.min.js"&gt;&lt;/script&gt;
				    &lt;script src="node_modules/picklist/dist/picklist.min.js"&gt;&lt;/script&gt;
				&lt;/body&gt;