#Initialization.container
	.row
		h2 Initialization
	.row
		.col-lg-12
			h4 Basic
			.panel.panel-default
				.panel-body
					pre.
						$('#foo').picklist();
				.panel-footer
					select#ex1
		.col-lg-12
			h4 Custom Options
			.panel.panel-default
				.panel-body
					pre.
						$('#foo').picklist({
							color: 'warning',
							afterChange: function() {
								alert($(this).val());
							}
						});
				.panel-footer
					select#ex2