#Methods.container
	.row
		h2 Methods
	.row
		.col-lg-12
			h4 destroy()
			p Removes all elements and functionality for the instance of Picklist and returns the original select element into view.
			pre.
				var foo = $('#foo').picklist();

				foo.destroy()
				/* or */
				Picklist.instances.foo.destroy();
		.col-lg-12
			h4 hide()
			p Calls the Bootstrap 3 action of modal('hide'), which will remove the modal from view when the modalize function has been used during initialization.
			pre.
				var foo = $('#foo').picklist();

				foo.hide();
				/* or */
				Picklist.instances.foo.hide();
		.col-lg-12
			h4 reset()
			p Reverts the instance of Picklist back to it's original starting state just after the first initialization.
			pre.
				var foo = $('#foo').picklist();

				foo.reset();
				/* or */
				Picklist.instances.foo.reset();
		.col-lg-12
			h4 show()
			p Calls the Bootstrap 3 action of modal('show'), which will bring the modal into view when the modalize function has been used during initialization.
			pre.
				var foo = $('#foo').picklist();

				foo.show();
				/* or */
				Picklist.instances.foo.show();
		.col-lg-12
			h4 toggle()
			p Calls the Bootstrap 3 action of modal('toggle'), which will toggle the show/hide state depending on which state it's currently in when called when the modalize function has been used during initialization.
			pre.
				var foo = $('#foo').picklist();

				foo.toggle();
				/* or */
				Picklist.instances.foo.toggle(); 