#Options.container
	.row
		h2 Options
	.row
		.col-lg-12
			h4 Option Definitions
			table.table.table-striped
				thead
					tr
						th Name
						th Type
						th Description
				tbody
					tr
						td afterChange
						td Function
						td A callback function to be called after the action of selecting or unselecting a "pick" is completed.
					tr
						td afterLoad
						td Function
						td A callback function to be called after the initialization of the instance of Picklist is complete.
					tr
						td availableTitle
						td String
						td The title text to display in the header bar for the list of available "picks". #[small (the list on the right)]
					tr
						td beforeChange
						td Function
						td A callback function to be called before the action of selecting or unselecting a "pick" is started.
					tr
						td beforeLoad
						td Function
						td A callback function to be called at the very start of initialization before any actual initialization has taken place.
					tr
						td closeBtnContent
						td String
						td The text content of the close button that will appear in the footer of the modal when using the modalize option.
					tr
						td color
						td String
						td The color to use from the current Bootstrap theme's base colors. Possible values are: "primary", "default", "info", "success", "warning" and "danger". Note: CSS color values will not work when passed into this option at this time, but may work in future releases.
					tr
						td defaultSort
						td Array
						td The order in which the sorting should be set for the selected and available lists just after initialization. #[small #[i ([selected, available])]]
					tr
						td height
						td String or Int
						td The height of the lists. If an integer is used for this value, it will be automatically interpreted in pixels.
					tr
						td launcherBtnContent
						td String
						td The content that should be placed inside of the launcher button when the instance of Picklist has been initialized with modalize as true. Can be a basic string of just text or can contain stringified HTML elements.
					tr
						td modalize
						td Boolean
						td Whether or not to place the Picklist instance inside of a modal that will be opened by a launcher bar on the page.
					tr
						td modalTitle
						td String
						td The title text to place in the heading of the modal when using modalize.
					tr
						td search
						td Boolean
						td Whether or not search boxes should be displayed under each list for filtering list contents.
					tr
						td selected
						td Array
						td A list of values that should be selected by default during initialization of the Picklist. The values must match the "value" attribute of the option tag within the original select list.
					tr
						td selectedTitle
						td String
						td The title text to display in the header bar for the list of selected "picks". #[small (the list on the left)]
					tr
						td sortGroupsBy
						td String
						td The HTML attribute to sort the groups within each list by.
					tr
						td sortPicksBy
						td String
						td The HTML attribute to sort the individual picks by within each list.
					tr
						td striped
						td Boolean
						td Whether or not the "picks" in each list should have alternating background colors to help differentiate each "pick".
		.col-lg-12
			h4 Global Defaults
			p Picklist's global defaults will act as the default values to be loaded whenever a particular option isn't defined during initialization. For example, if all options are provided manually during initialization except #[code color], #[code color] will be automatically set to the value contained within #[code Picklist.defaults.color], whatever it may be.
			p Global defaults can be changed by using the simple "dot" syntax to select and update values within the #[code Picklist.defaults] object. For example, #[code Picklist.defaults.modalize = true] would update the global modalize value from #[code false] to #[code true].
			pre.
				Picklist.defaults = {
				    afterChange: function() {},
				    afterLoad: function() {},
				    availableTitle: "Available",
				    beforeChange: function() {},
				    beforeLoad: function() {},
				    closeBtnContent: "Close",
				    color: "primary",
				    defaultSort: ["asc", "asc"],
				    height: "330px",
				    launcherBtnContent: "&lt;i class='glyphicon glyphicon-th-list'&gt;&lt;/i&gt;",
				    modalize: false,
				    modalTitle: "",
					search: false,
				    selected: [],
				    selectedTitle: "Selected",
				    sortGroupsBy: "text",
				    sortPicksBy: "text",
				    striped: true
				}